@page "/"

<h1>Hello, world!</h1>

<p>The "dotnet watch run --project BlazorServer" command seems to work. Now there is Hot Reload!</p>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
